.left {
  width: 50%;
  float: left;
}
.right {
  width: 49%;
  float: left;
}
/* top-left box */
.woman-box {

  border: 1px solid black;
}

.woman-img {
  width: 400px;
}


/* top-right box */
.intro {
  width: 50%;
  float: left;
  border: 1px solid black;
}

.title-box {

}

.subtitle-box {

  border: 1px solid black;
}


.honest-box {
  height: 6em;
  border: 1px solid black;

}

.inside-img {
  width: 150px;
  float: left;
}

.glory-box{

  border: 1px solid black;
  height: 8em;
}

.outside-img {
  width: 150px;
  float: left;
}

.whee-box{
  border: 1px solid black:
}

.wastebasket-img{
  width: 150px;
  float: left;
}

.scene-box{
  /*width: 30%;
  float: left;
  border: 1px solid black;*/
}
